/* You can add global styles to this file, and also import other style files */
body {
    background-color: #1a0000 !important;
    text-decoration-color: white;
    color: white !important;
}
a {
    color: white !important;
}
input{
    background-color: black;
}